---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/layouts/Navigation.astro";
---

<BaseLayout title="Milieth's Commission Page">
    <Navigation></Navigation>
    <div class="relative h-20">
        <h1 class="text-4xl">
            A. Commission Status:
        </h1>
        <h1 class="text-4xl">
            B. Commission Service:
        </h1>
    </div>
</BaseLayout>