---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/layouts/Navigation.astro";
---

<BaseLayout title="Milieth's Commission Page">
    <div class="relative h-20">
        <h1 class="text-4xl">
            Contact Me:
        </h1>
    </div>
</BaseLayout>