---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Card from "@/components/bearnie/card/Card.astro"
import Avatar from "@/components/bearnie/avatar/Avatar.astro";
import AvatarImage from "@/components/bearnie/avatar/AvatarImage.astro";
import AvatarFallback from "@/components/bearnie/avatar/AvatarFallback.astro";
---
<BaseLayout title="Milieth's Website">
    <div class="absolute inset-0 -z-10 pointer-events-none flex items-center justify-center gap-80">
      <img 
        src="src/images/milieth side.png" 
        alt="decoration side"
        class="h-[500px] w-auto object-contain opacity-50"
      />
      <img 
        src="src/images/milieth front.png" 
        alt="decoration front"
        class="h-[500px] w-auto object-contain opacity-50"
      />      
    </div>
    <section class="flex-1 flex items-center justify-center mt-16 px-4 mb-16">
      <Card class="w-[500px] text-center">
        <Avatar class="h-[170px] w-[170px] mx-auto mt-4" >
          <AvatarImage src="src/images/head upper.png" alt="User object-contain" />
          <AvatarFallback>ml</AvatarFallback>
        </Avatar> 

        <h1 class="text-lg font-medium font-extrabold tracking-tight mt-4">
          Welcome to my personal website
        </h1>

        <p class="text-base text-muted-foreground m-4 mb-16">
          I am Milieth, a Gamedev Programmer located in Kediri, East Java, Indonesia. 
          You can see my games <a href="/gamedev-portfolio/my-games" class="text-primary underline">here</a>. 
          I may be available for <a href="/gamedev-portfolio/commission" class="text-primary underline">commission</a> too. Feel free to explore this website.
        </p>
      </Card>
    </section>
    
</BaseLayout>
