---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Navigation from "@/layouts/Navigation.astro";
---

<BaseLayout title="Milieth's Games">
    <Navigation></Navigation>
    <div class="relative h-20">
        <h1 class="absolute bottom-4 left-4 text-4xl">
            My Games:
        </h1>
    </div>
</BaseLayout>