---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Carousel from "@/components/bearnie/carousel/Carousel.astro";
import CarouselContent from "@/components/bearnie/carousel/CarouselContent.astro";
import CarouselItem from "@/components/bearnie/carousel/CarouselItem.astro";
import CarouselNext from "@/components/bearnie/carousel/CarouselNext.astro";
import CarouselPrevious from "@/components/bearnie/carousel/CarouselPrevious.astro";
import CarouselDots from "@/components/bearnie/carousel/CarouselDots.astro";
---

<BaseLayout title="Milieth's Games">
    <h1 class="text-4xl">
        My Games:
    </h1>
 <Carousel class="w-full max-w-md">
  <CarouselContent>
    <CarouselItem>
      <div class="flex aspect-video items-center justify-center rounded-lg bg-muted">
        <span class="text-2xl font-semibold">Slide 1</span>
      </div>
    </CarouselItem>
    <CarouselItem>
      <div class="flex aspect-video items-center justify-center rounded-lg bg-muted">
        <span class="text-2xl font-semibold">Slide 2</span>
      </div>
    </CarouselItem>
    <CarouselItem>
      <div class="flex aspect-video items-center justify-center rounded-lg bg-muted">
        <span class="text-2xl font-semibold">Slide 3</span>
      </div>
    </CarouselItem>
  </CarouselContent>
  <CarouselPrevious />
  <CarouselNext />
  <CarouselDots count={3} />
</Carousel> 
</BaseLayout>