<button id="theme-toggle"
        class="p-2 z-[100] 
        max-sm:absolute max-sm:top-8 max-sm:left-8 max-sm:bg-white/20 max-sm:backdrop-blur-md max-sm:rounded-lg
        md:relative md:top-0 md:left-0">
  <span id="theme-icon">🌙</span>
</button>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const themeToggle = document.getElementById("theme-toggle");
    const themeIcon = document.getElementById("theme-icon");
    const element = document.documentElement;

    if (themeIcon) {
      themeIcon.innerText = element.classList.contains("dark") ? "🌙" : "☀️";
    }

    const handleToggleClick = () => {
      element.classList.toggle("dark");
      const isDark = element.classList.contains("dark");
      
      localStorage.setItem("theme", isDark ? "dark" : "light");
      
      if (themeIcon) {
        themeIcon.innerText = isDark ? "🌙" : "☀️";
      }
    };

    themeToggle?.addEventListener("click", handleToggleClick);
  });
</script>
<style>
  :global(body) {
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
</style>