---
import "@/styles/global.css";
import Navigation from "./Navigation.astro";
import Footer from "./Footer.astro";

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Milieth's Website", 
  description = "My personal website and portfolio website" 
} = Astro.props;
---

<script is:inline>
  const theme = 'dark';
  
  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }

  window.localStorage.setItem('theme', theme);
</script>
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/gamedev-portfolio/favicon.svg" />
  </head>
  <body class="min-h-screen bg-background text-foreground antialiased">
    <Navigation></Navigation>
    <slot />
    <Footer></Footer>
  </body>
</html>
