---
import "@/styles/global.css";
import Navigation from "./Navigation.astro";
import Footer from "./Footer.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";

interface Props {
  title?: string;
  description?: string;
}

const { 
  title = "Milieth's Website", 
  description = "My personal website and portfolio website" 
} = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
  <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();
    
      if (theme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
      
      window.localStorage.setItem('theme', theme);
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="icon" type="image/png" href="/gamedev-portfolio/milieth side.png" />
  </head>
  <body class="min-h-screen bg-background text-foreground antialiased">
    <Navigation></Navigation>
    <slot />
    <Footer></Footer>
  </body>
</html>
