---
import ButtonGroup from "@/components/bearnie/button-group/ButtonGroup.astro"
import Button from "@/components/bearnie/button/Button.astro"
---
<style>
  header{
    display:flex;
    justify-content: center;
    padding-top: 2rem;
  }
</style>
<header>
    <ButtonGroup>
    <Button variant="secondary" size="lg">About Me</Button>
    <Button variant="secondary" size="lg">My Games</Button>
    <Button variant="secondary" size="lg">Other Project</Button>
    <Button variant="secondary" size="lg">Resume</Button>
    <Button variant="secondary" size="lg">About Commission</Button>
    <Button variant="secondary" size="lg">Contact</Button>
    </ButtonGroup>       
</header>
