---
import ButtonGroup from "@/components/bearnie/button-group/ButtonGroup.astro"
import Button from "@/components/bearnie/button/Button.astro"
---
<header class="flex justify-center py-8">
    <ButtonGroup>
    <Button variant="secondary" pill size="lg" href="/gamedev-portfolio">About Me</Button>
    <Button variant="secondary" pill size="lg" href="/gamedev-portfolio/my-games">My Games</Button>
    <Button variant="secondary" pill size="lg" href="/gamedev-portfolio/resume">Resume</Button>
    <Button variant="secondary" pill size="lg" href="/gamedev-portfolio/commission">About Commission</Button>
    <Button variant="secondary" pill size="lg" href="/gamedev-portfolio/contact">Contact</Button>
    </ButtonGroup>       
</header>
